---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Culture">
  <section
    class="bg-[#FFE135] h-[100dvh] px-4 lg:px-[75px] pt-[26px] pb-[4vh] overflow-hidden"
  >
    <div class="max-w-[3840px] w-full mx-auto">
      <!-- Alter office logo -->
      <Image
        src="/images/misc/tao_logo_blue.png"
        alt="Alter_Office_Logo"
        width={212}
        height={72}
        loading="eager"
      />
    </div>

    <!-- Main content -->
    <main class="max-w-[3840px] w-full mx-auto mt-[55px]">
      <p class="font-HamonLight text-[68px]">We believe</p>
      <div
        class="font-HamonBold text-[clamp(50px,min(7.8vw,13.9vh),300px)] leading-[clamp(45px,min(6.6vw,11.7vh),252px)] mt-2"
      >
        <p>"When everyone grows,</p>
        <p>we all succeed!"</p>
      </div>
    </main>
  </section>

  <style>
    @media (max-height: 550px) {
      section {
        height: auto !important;
        min-height: 550px;
        overflow-y: auto !important;
      }
    }
  </style>
</Layout>
