---
import PreHeadline from "@components/about/PreHeadline.astro";
import UploadResume from "@components/about/vacancies/UploadResume";
import Vacancies from "@layouts/about/Vacancies.astro";
---

<Vacancies>
  <!-- Main content -->
  <main class="w-full mt-[100px] px-6 sm:px-[27px] md:px-[43px] lg:px-[80px]">
    <PreHeadline class="text-[#ffffff] text-center"
      >One more thing Thammaiah</PreHeadline
    >
    <div
      class="font-HamonBold text-[clamp(3.5rem,2.786rem+3.571vw,6rem)] leading-[clamp(3rem,2.446rem+2.768vw,5.5rem)] text-white text-center"
    >
      <p>We know you prepared your resume</p>
      <p>with a lot of thought, just for your</p>
      <p>satisfaction and more information</p>
      <p>about you, we'll go through it.</p>
    </div>

    <UploadResume client:load />
  </main>
</Vacancies>
