---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Culture">
  <section
    class="bg-[#FFE135] h-[100dvh] px-4 lg:px-[75px] pt-[26px] overflow-hidden"
  >
    <div class="max-w-[3840px] w-full mx-auto">
      <!-- Alter office logo -->
      <Image
        src="/images/misc/tao_logo_blue.png"
        alt="Alter_Office_Logo"
        width={212}
        height={72}
        loading="eager"
      />
    </div>

    <!-- Main content -->
    <main class="max-w-[3840px] w-full mx-auto mt-[55px]">
      <p class="font-HamonLight text-[68px]">We believe</p>
      <div class="font-HamonBold text-[150px] leading-[124px] mt-2">
        <p>"When everyone grows,</p>
        <p>we all succeed!"</p>
      </div>
      <div
        class="w-[732px] text-[26px] leading-[30px] opacity-90 ml-auto font-HamonBold mr-[5px] mt-8"
      >
        We’re invested in your journey—personally and professionally. Your wins
        become ours, because real success is when everyone around you gets
        better for a common goal of empowering users & being successful
        together.
      </div>

      <!-- Page img -->
      <Image
        src="/images/about/culture_1.png"
        alt="culture_1"
        width={866}
        height={505}
        loading="eager"
        class="absolute bottom-0"
      />
    </main>
  </section>

  <style>
    @media (max-height: 550px) {
      section {
        height: auto !important;
        min-height: 550px;
        overflow-y: auto !important;
      }
    }
  </style>
</Layout>
