---
import Culture from "@layouts/about/Culture.astro";
---

<Culture prevPage="/about/culture/3" nextPage="/about/culture/5">
  <!-- Main content -->
  <main class="w-full mt-[55px] px-4 lg:px-[75px]">
    <p class="font-HamonLight text-[68px]">We believe</p>
    <div class="flex gap-24 mt-4">
      <div class="font-HamonBold text-[150px] leading-[130px]">
        <p>Productivity</p>
        <p>comes when</p>
        <p>you are</p>
        <p>taken care.</p>
      </div>
      <div
        class="w-[732px] text-[26px] leading-[30px] opacity-90 font-HamonBold relative top-4"
      >
        Great work starts with feeling great. From medical insurance for your
        entire family to daily lunch and unlimited refreshments, we ensure
        you're healthy, happy, and ready to create your best work.
      </div>
    </div>
  </main>
</Culture>
