---
import Culture from "@layouts/about/Culture.astro";
---

<Culture prevPage="/about/culture/5">
  <!-- Main content -->
  <main class="w-full mt-[55px] px-4 lg:px-[75px]">
    <p class="font-HamonLight text-[68px]">We make sure you are</p>
    <div class="font-HamonBold text-[150px] leading-[130px] mt-2 text-nowrap">
      <p>Surrounded by passionate</p>
      <p>product builders.</p>
    </div>
    <div
      class="w-[732px] text-[26px] leading-[30px] opacity-90 font-HamonBold mt-12"
    >
      You won’t just find colleagues here—you’ll find people genuinely excited
      about building products. We’re passionate makers who care deeply about
      what we create and who we create it with.
    </div>
  </main>
</Culture>
