@import "tailwindcss";

@theme {
  --font-HamonBold: "HamonBold", sans-serif;
  --font-HamonRegular: "HamonRegular", sans-serif;
  --font-HamonLight: "HamonLight", sans-serif;
  --font-HamonOutline: "HamonOutline", sans-serif;
}

/* Font face */
@font-face {
  font-family: "HamonBold";
  src: url("/fonts/hamon-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HamonRegular";
  src: url("/fonts/hamon-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HamonLight";
  src: url("/fonts/hamon-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HamonOutline";
  src: url("/fonts/hamon-outline.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .placeholder__hide__on__focus:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .placeholder__show__on__blur:not(:focus)::placeholder {
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
}

/* Disable scrollbar for webkit browsers */
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html,
body {
  font-family: var(--font-HamonRegular);
}

p > strong {
  font-family: var(--font-HamonBold);
}
