---
interface Props {
  class?: string;
  defaultStyles?: boolean;
}

const { class: className, defaultStyles = true } = Astro.props;
---

<div
  class:list={[
    defaultStyles && "leading-[clamp(2.625rem,0.982rem+8.214vw,8.375rem)]",
    "text-[clamp(3rem,1.179rem+9.107vw,9.375rem)]",
    "font-HamonBold",
    className,
  ]}
>
  <slot />
</div>
