---
interface Props {
  id?: string;
  class?: string;
  defaultStyles?: boolean;
}

const { id, class: className, defaultStyles = true } = Astro.props;
---

<div
  id={id}
  class:list={[
    "headline",
    defaultStyles && "leading-[clamp(3.625rem,0.982rem+8.214vw,8.375rem)]",
    "text-[clamp(4rem,1.179rem+9.107vw,9.375rem)]",
    "font-HamonBold",
    className,
  ]}
>
  <div class="relative">
    <slot />
  </div>
</div>
