---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<div id={id} class="gif-container fixed inset-0 z-50 hidden"></div>

<style>
  .gif-container {
    background: white url("/images/gif/fire-explode.gif") no-repeat center
      center;
    background-size: cover;
  }
</style>
