---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<p
  class:list={[
    "font-HamonLight text-[clamp(1.5rem,0.714rem+3.929vw,4.25rem)] leading-[clamp(1.063rem,0.259rem+4.018vw,3.875rem)] h-[clamp(1.813rem,0.866rem+4.732vw,5.125rem)]",
    className,
  ]}
>
  <slot />
</p>
