---
import Mindset from "@layouts/about/Mindset.astro";
---

<Mindset prevPage="/about" nextPage="/about/mindset/2">
  <!-- Main content -->
  <main class="w-full mt-40 md:mt-[85px] px-6 lg:px-[49px]">
    <p
      class="font-HamonLight text-[clamp(1.5rem,0.714rem+3.929vw,4.25rem)] leading-[clamp(1.063rem,0.259rem+4.018vw,3.875rem)] h-[clamp(1.813rem,0.866rem+4.732vw,5.125rem)] flex items-end justify-center"
    >
      Substance Over Theater
    </p>
    <div
      class="font-HamonBold text-center text-[clamp(3rem,1.179rem+9.107vw,9.375rem)] leading-[clamp(2.625rem,0.732rem+9.464vw,9.25rem)] mt-[25px] sm:mt-[12.5px] md:mt-[0px]"
    >
      <p>"A design/code that never</p>
      <p>ships is just a pretty</p>
      <p>picture."</p>
    </div>

    <!-- <div
      class="font-HamonBold text-[clamp(1.125rem,0.982rem+0.714vw,1.625rem)] leading-[clamp(1.375rem,1.232rem+0.714vw,1.875rem)] opacity-90 sm:w-[732px] mt-10 md:mt-8 sm:ml-auto md:relative md:right-[150px] text-center sm:text-left px-12"
    >
        Great ideas don't live in Figma or Notion—they live in real products. If
        it doesn't make it to the user's hands, it doesn't matter how good it
        looks. Execution > Perfection.
    </div> -->
  </main>
</Mindset>
