---
import Headline from "@components/about/Headline.astro";
import PreHeadline from "@components/about/PreHeadline.astro";
import Tagline from "@components/about/Tagline.astro";
import Mindset from "@layouts/about/Mindset.astro";
---

<Mindset prevPage="/about/mindset/1" nextPage="/about/mindset/3">
  <!-- Main content -->
  <main
    class="w-full mt-40 md:mt-[57px] px-6 sm:px-[27px] md:px-[43px] lg:px-[75px]"
  >
    <PreHeadline class="flex items-end">
      Speed & Quantity Drive Quality
    </PreHeadline>

    <div class="relative">
      <Headline class="mt-8">
        <p>"The best design/code</p>
        <p>isn’t the first, it’s the</p>
        <p>fastest iteration that</p>
        <p>works."</p>
      </Headline>

      <Tagline
        class="mt-8 md:mt-12 xl:absolute xl:bottom-[-5px] xl:left-[550px]"
      >
        You don’t get great by waiting—you get great by building, testing, and
        refining over and over again. We don’t aim for perfection on day one. We
        ship, learn, and improve fast.
      </Tagline>
    </div>
  </main>
</Mindset>
