---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Mindset">
  <section
    class="bg-[#12FF00] h-[100dvh] pt-[26px] pb-[4vh] overflow-hidden px-4 lg:px-[75px]"
  >
    <div class="max-w-[3840px] w-full mx-auto">
      <!-- Alter office logo -->
      <Image
        src="/images/misc/tao_logo_blue.png"
        alt="Alter_Office_Logo"
        width={212}
        height={72}
        loading="eager"
      />
    </div>

    <!-- Main content -->
    <main class="max-w-[3840px] w-full mx-auto mt-[57px]">
      <p class="font-HamonLight text-[68px] leading-[62px]">
        Speed & Quantity Drive Quality
      </p>
      <div class="font-HamonBold text-[150px] leading-[134px] mt-7">
        <p>"The best design/code</p>
        <p>isn’t the first, it’s the</p>
        <p>fastest iteration that</p>
        <p>works."</p>
      </div>

      <div
        class="font-HamonBold text-[26px] leading-[30px] opacity-90 w-[732px] relative left-[545px] -top-20"
      >
        You don’t get great by waiting—you get great by building, testing, and
        refining over and over again. We don’t aim for perfection on day one. We
        ship, learn, and improve fast.
      </div>
    </main>
  </section>

  <style>
    @media (max-height: 550px) {
      section {
        height: auto !important;
        min-height: 550px;
        overflow-y: auto !important;
      }
    }
  </style>
</Layout>
