---
import Headline from "@components/about/Headline.astro";
import PreHeadline from "@components/about/PreHeadline.astro";
import Mindset from "@layouts/about/Mindset.astro";
---

<Mindset prevPage="/about/mindset/2" nextPage="/about/mindset/4">
  <!-- Main content -->
  <main class="w-full mt-40 md:mt-[73px] px-4 lg:px-[80px]">
    <PreHeadline class="flex justify-end items-end">
      Ownership & Accountability
    </PreHeadline>

    <Headline class="text-right mt-8">
      <p>"If it’s broken, don’t ask</p>
      <p>who—fix it."</p>
    </Headline>

    <!-- <div
      class="font-HamonBold text-[26px] leading-[30px] opacity-90 w-[732px] mt-8 mx-auto relative right-[350px]"
    >
      We’re all builders here. No blame games, no bureaucracy. If something’s
      off, take charge, propose a solution, and make it better. If you see a
      problem, you own it.
    </div> -->
  </main>
</Mindset>
