---
import Headline from "@components/about/Headline.astro";
import PreHeadline from "@components/about/PreHeadline.astro";
import Mindset from "@layouts/about/Mindset.astro";
---

<Mindset prevPage="/about/mindset/3" nextPage="/about/mindset/5">
  <!-- Main content -->
  <main class="w-full mt-40 md:mt-[89px] px-4 lg:px-[75px]">
    <PreHeadline class="flex items-end justify-center">
      Collaboration Without Hand-Holding
    </PreHeadline>

    <Headline class="text-center mt-[25px] sm:mt-4">
      <p>"We don’t pass the ball,</p>
      <p>we score the goal</p>
      <p>together."</p>
    </Headline>

    <!-- <div
      class="font-HamonBold text-[26px] leading-[30px] opacity-90 w-[732px] mt-14 mx-auto relative left-[295px]"
    >
      Everyone here is a decision-maker. We work together, but you won’t be
      spoon-fed. If you need guidance, ask. But don’t wait to be told what to
      do.
    </div> -->
  </main>
</Mindset>
