---
import Headline from "@components/about/Headline.astro";
import PreHeadline from "@components/about/PreHeadline.astro";
import Mindset from "@layouts/about/Mindset.astro";
---

<Mindset prevPage="/about/mindset/5" nextPage="/about/mindset/7">
  <!-- Main content -->
  <main class="w-full mt-40 md:mt-[109px] px-4 lg:px-[45px]">
    <PreHeadline class="flex items-end justify-center">
      AI & Automation as Leverage
    </PreHeadline>

    <Headline class="text-center mt-8 sm:mt-6">
      <p>"Let AI do the grunt work,</p>
      <p>so you can do the great</p>
      <p>work."</p>
    </Headline>

    <!-- <div
      class="font-HamonBold text-[26px] leading-[30px] opacity-90 w-[732px] mt-10 mx-auto relative right-[295px]"
    >
      We don’t waste time on things AI can do better. AI helps us research,
      analyze, and automate, so we can focus on creativity, problem-solving, and
      building world-class experiences.
    </div> -->
  </main>
</Mindset>
