---
import Headline from "@components/about/Headline.astro";
import PreHeadline from "@components/about/PreHeadline.astro";
import Tagline from "@components/about/Tagline.astro";
import Mindset from "@layouts/about/Mindset.astro";
---

<Mindset prevPage="/about/mindset/5" nextPage="/about/mindset/7">
  <!-- Main content -->
  <main class="w-full mt-40 md:mt-[109px] px-6 lg:px-[45px]">
    <PreHeadline class="flex items-end justify-center">
      AI & Automation as Leverage
    </PreHeadline>

    <Headline class="text-center mt-8 sm:mt-6">
      <p>"Let AI do the grunt work,</p>
      <p>so you can do the great</p>
      <p>work."</p>
    </Headline>

    <Tagline
      class="px-3 sm:px-0 mt-8 md:mt-12 mx-auto text-center sm:text-left lg:mx-0 lg:relative lg:left-[290px]"
    >
      We don’t waste time on things AI can do better. AI helps us research,
      analyze, and automate, so we can focus on creativity, problem-solving, and
      building world-class experiences.
    </Tagline>
  </main>
</Mindset>
