---
import Mindset from "@layouts/about/Mindset.astro";
---

<Mindset prevPage="/about/mindset/6" nextPage="/about/mindset/8">
  <!-- Main content -->
  <main class="w-full mt-40 md:mt-[77px] px-4 lg:pl-[75px] lg:pr-[49px]">
    <p
      class="font-HamonLight text-[clamp(1.5rem,0.714rem+3.929vw,4.25rem)] leading-[clamp(1.063rem,0.259rem+4.018vw,3.875rem)] h-[clamp(1.813rem,0.866rem+4.732vw,5.125rem)] flex items-end"
    >
      Results Matter More Than Hours
    </p>
    <div
      class="font-HamonBold text-[clamp(3rem,1.179rem+9.107vw,9.375rem)] leading-[clamp(2.625rem,0.982rem+8.214vw,8.375rem)] text-right mt-8"
    >
      <p>"Nobody cares if you</p>
      <p>worked late—</p>
      <p>does it work?"</p>
    </div>

    <!-- <div
      class="font-HamonBold text-[26px] leading-[30px] opacity-90 w-[732px] mt-4 ml-auto mr-[80px]"
    >
      Effort doesn’t impress us—impact does. You could work 14 hours or 4, but
      if the output isn’t valuable, it doesn’t count. We track results, not
      timesheets.
    </div> -->
  </main>
</Mindset>
